[submodule "2017-06/ProphetIntroSlides"]
	path = 2017-06/ProphetIntroSlides
	url = git@github.com:V3g4/ProphetIntroSlides.git
[submodule "2017-09/plotly"]
	path = 2017-09/plotly
	url = git@github.com:RamiKrispin/Plotly-Meetup.git
[submodule "2017-10/ufo-sightings"]
	path = 2017-10/ufo-sightings
	url = https://github.com/mooreaw/ufo-sightings
[submodule "2018-02/clayton"]
	path = 2018-02/clayton
	url = git@github.com:ClaytonJY/rstudioconf-2018-recaps.git
[submodule "2018-02/sameer"]
	path = 2018-02/sameer
	url = https://github.com/sameer-t/rstudio_conf_tidy.git
[submodule "2018-01/flexdashboard"]
	path = 2018-01/flexdashboard
	url = https://github.com/kingjoshuaj/AARUG_Jan18.git
[submodule "2018-01/tidy-eval"]
	path = 2018-01/tidy-eval
	url = https://github.com/grosscol/tidy-eval.git
[submodule "2018-03/CRANberryPiSlides"]
	path = 2018-03/CRANberryPiSlides
	url = https://github.com/ellisvalentiner/CRANberryPiSlides
